@import "../../style.css";

.separator {
  border: none;
  background-color: var(--Primary-300);
}

.separator--vertical {
  height: 2px;
  width: 100%;
  margin: 20px 0;

}
.separator--horizontal {
  height: 100px;
  width: 2px;
  margin: 0 20px;
}
